<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="COMPLETE_FLAT_UI.Properties.Settings.BancoAzureConnectionString"
            connectionString="Data Source=bancoazure4658.database.windows.net;Initial Catalog=BancoAzure;User ID=azure4658;Password=Meg46581279"
            providerName="System.Data.SqlClient" />
        <add name="COMPLETE_FLAT_UI.Properties.Settings.AvaliacaoConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\meglt\OneDrive\Documentos\Avaliacao.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="COMPLETE_FLAT_UI.Properties.Settings.BancoConnectionString"
            connectionString="Data Source=bancoazure4658.database.windows.net;Initial Catalog=Banco;User ID=azure4658;Password=Meg46581279"
            providerName="System.Data.SqlClient" />
        <add name="COMPLETE_FLAT_UI.Properties.Settings.BancoLocalhost"
            connectionString="Data Source=DESKTOP-C6NHVB9\SQLEXPRESS;Integrated Security=true;Initial Catalog=Banco;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>